.friends {
  max-height: calc(100vh - 120px);
  overflow: auto;
  padding-right: 10px;
}

.profile_img {
  min-width: 40px;
  max-width: 40px;
  width: 100%;
  min-height: 40px;
  max-height: 40px;
  width: 100%;
  position: relative;
  margin-right: 10px;
}

.chat_right_sec {
  width: calc(100% - 50px);
}

.friend {
  border-bottom: 1px solid #cccccc75;
}

@media (max-width: 768px) {
  .friends {
    padding-right: 0px;
    max-height: unset;
  }
}
